body,
html {
    height: 100%;
}


/* 
    --------------------
       CUSTOM COLORS
    --------------------
*/

.bg-main {
    background-color: #13138A !important;
}

.text-main {
    color: #3BD1B3 !important;
}

.border-main {
    border-color: #3BD1B3 !important;
}


/* 
    --------------------
          BORDERS
    --------------------
*/

.rounded-plus {
    border-radius: 3%;
}

.border-wide {
    border-width: 3px !important;
}


/* 
    --------------------
          LINKS/ANCHORS
    --------------------
*/

.link-main,
.link-main a {
    color: #fafafa;
}


/* 
    --------------------
          FORM
    --------------------
*/

.form-group textarea {
    resize: none;
}

#profile-picture {
    cursor: pointer;
}

#photo {
    display: none;
}


/* 
    --------------------
       Sizing
    --------------------
*/

.size-xs {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
}

.size-logo {
    width: 50%;
    height: 30%;
}

.size-m {
    max-width: 40%;
    width: 40%;
}